*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
    background-color: rgba(173, 167, 167, 0.159);
    max-width: 100%;
}
.body{
  font-family: 'Open Sans', sans-serif;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
ul li a{
    padding: 0px 20px;
    color: #3a3a3a;
    text-decoration: none;
    display: inline-block;
    
}
li a::after{
    content:"";
    display: block;
    height: 4px;
    width:0;
    background-color:rgb(127, 178, 255);
    transition: all .5s;
    
}
li a:hover::after{
    width: 100%;
}
.container h2{
    color:rgb(127, 178, 255);
}
.container img{
    border-radius: 50%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstSection{
    width: 30%;
}
.secondSection img{
    padding-top: 40px;
}
.firstSection h3{
    color:rgb(127, 178, 255);

}
.firstSection p{
    color:rgba(31, 43, 37, 0.71);
    font-size: 14px;
    line-height: 31.5px;
    margin: 30px 0;
}